doctype html
html
  head
    title Delivr
    meta(name="viewport" content="width=device-width, initial-scale=1")
  body(style="font-family:sans-serif;")
    table(style="width:600px;margin: 0 auto; padding: 40px;")
      tbody
        tr
          td
            img(src="https://i.ibb.co/sb9gMYC/newbg.png" style=" width:100%; height: 220px; ")
        tr
          td(style="padding: 30px 31px 20px;")
            table(style="margin: 0 auto; box-shadow: 0 2px 12px 0 rgba(0,0,0,.08); background-color: #fff; border-radius: 10px;")
              tr
                th(style="background-color: #374799; color: #fff; padding: 50px 30px;font-size: 24px;font-weight: bold; border-radius: 10px 10px 0px 0px;")
                  | #{title}
              tr
                td(style="padding: 50px;")
                  h5(style="font-size: 16px;") Hi #{name}.
                  p(style=" font-size: 16px; width: 415px;text-align: justify; color: #474747;")
                    | #{message1}
                  p(style=" font-size: 16px;width: 415px;text-align: justify;color: #474747;")
                    | #{message2}
              tr
                td(style="text-align: center;")
                  a(href=`${buttonLink}` target="_blank" style="background-color: #F9712F; padding: 10px 80px; border-radius: 10px; color: #fff; font-weight: bold; text-decoration:none;") #{buttonTitle}
              tr
                td(style="background-color: #374799; color: #fff; padding: 20px 30px; margin-top: 60px; display: block;")
                  p(style="font-size: 18px;text-align: center;")
                    | You're getting this email because you registered an account on delivr.biz using this email address.
              tr
                td(style="text-align: center;")
                  p(style="color: #F97400; font-size: 20px; font-weight: bold;") We hope to see you again soon.
              tr
                td(style="text-align: center;")
                  ul(style="list-style-type: none;")
                    li(style="display: inline; font-size: 14px; color: #5E5E5E; border-right: 1px solid #014095;")
                      a(href="https://delivr.biz/privacy-policy" target="_blank" style="padding: 0 10px;") Privacy policy
                    li(style="display: inline; font-size: 14px; color: #5E5E5E; border-right: 1px solid #014095;")
                      a(href="https://delivr.biz/about" target="_blank" style="padding: 0 10px;") About us
                    li(style="display: inline; font-size: 14px; color: #5E5E5E;")
                      a(href="https://delivr.biz/terms-and-conditions" target="_blank" style=" padding: 0 10px;") | T &amp; C
